---
import { CTA } from "../components/section/CTA";
import { Testimonials } from "../components/section/Testimonials";
import { Footer } from "../components/shared/Footer";
import { Header } from "../components/shared/Header";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blockchain Blog - Frontend Tribe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header client:load />
    <slot />
    <Testimonials client:load />
    <CTA client:load />
    <Footer />
  </body>
</html>
